@use '../variables' as vars;

.nt-widget-container {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$nt-spacing-md;
    padding: vars.$nt-spacing-md;
    justify-content: flex-start;

    .nt-card {
        flex: 1 1 calc(25% - vars.$nt-spacing-md);
        min-width: 15.625rem;
        max-width: 100%;
        background: vars.$nt-bg-body;
        border: vars.$nt-border-width solid vars.$nt-border-bold;
        border-radius: vars.$nt-border-radius-lg;
        padding: vars.$nt-spacing-md;
        box-shadow: vars.$nt-box-shadow-sm;
        display: flex;
        flex-direction: column;
    }

    @media (max-width <= #{vars.$nt-breakpoint-lg}) {
        .nt-card {
            flex: 1 1 calc(50% - vars.$nt-spacing-md);
        }
    }

    @media (max-width <= #{vars.$nt-breakpoint-md}) {
        .nt-card {
            flex: 1 1 100%;
        }
    }
}
